<div class="espacio">
  <form #formulario="ngForm" (ngSubmit)="login(formulario)">
    <br>
    <div>
      Usuario:
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Placeholder" name="usuario" ngModel>
      </mat-form-field>
    </div>
    <br>
    <div>
      Contraseña:
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput name="password" ngModel>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" value="Iniciar Sesion">Iniciar Sesion</button>
    </div>
  </form>
</div>
