<div class="espacio">
  <form [formGroup]="SongForm" (ngSubmit)="NewSong()">
  Nombre:
  <mat-form-field appearance="fill">
    <mat-label>Nombre nueva cancion</mat-label>
    <input color="warm" matInput class="form-control" id="nombre" name="nombre" placeholder="Nombre" formControlName="id">
  </mat-form-field>
  <br>
  Artista:
  <mat-form-field appearance="fill">
    <mat-label>Eliga una artista</mat-label>
    <mat-select  class="form-control" formControlName="artista">
      <mat-option *ngFor="let song of Cancion" [value]="song.nombre" name="nombre">
        {{song.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  Precio:
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Coste</mat-label>
    <input matInput type="text" class="example-right-align" placeholder="0" name="precio" formControlName="precio">
    <span matTextSuffix>.00</span>
  </mat-form-field>
  <br>
  Fecha:
  <mat-form-field appearance="fill">
    <mat-label>Fecha de creacion</mat-label>
    <input matInput [matDatepicker]="picker" name="anno" formControlName="anno">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <div>
  Cancion:
  <mat-form-field appearance="fill">
    <mat-label>mbIA5HPxH5c</mat-label>
    <input color="warm" matInput class="form-control" id="cancion" name="cancion" placeholder="mbIA5HPxH5c" formControlName="cancion">
  </mat-form-field>
  <br>
  </div>
  <br>
  <div class="example-button-row">
    <button type="submit" mat-raised-button color="primary">Subir Cancion</button>
  </div>
  </form>
  <br>
  <button type="button" mat-raised-button color="primary" routerLink="/MostrarCanciones">Ir a Inicio</button>
</div>
