<div class="espacio">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <div class="tablita">
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let cancion"> {{cancion.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="artista">
        <th mat-header-cell *matHeaderCellDef> artista </th>
        <td mat-cell *matCellDef="let cancion"> {{cancion.artista}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> precio </th>
        <td mat-cell *matCellDef="let cancion"> {{cancion.precio}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="año">
        <th mat-header-cell *matHeaderCellDef class="centraje"> año </th>
        <td mat-cell *matCellDef="let cancion"> {{cancion.anno}} </td>
      </ng-container>

      <ng-container matColumnDef="cancion">
        <th mat-header-cell *matHeaderCellDef class="centraje"> Mostrar cancion </th>
        <td mat-cell *matCellDef="let cancion">
          <youtube-player videoId="{{cancion.cancion}}" suggestedQuality="highres" [height]="100" [width]="300"
            [startSeconds]="0" [endSeconds]="600">
          </youtube-player>
        </td>
      </ng-container>

      <ng-container matColumnDef="borrado">
        <th mat-header-cell *matHeaderCellDef class="centraje"> Borrar </th>
        <td mat-cell *matCellDef="let cancion;">
          <button mat-raised-button color="primary" focusable="false" [value]="cancion.id"
            (click)="FinishSong(cancion.id)">
            Borrar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

